## Match logFC values to annotation
Given a column with gene and logFC values, match it to another column with genes and annotations

In [1]:
import pandas as pd

In [2]:
# Load csv containing logFC and gene values to left variable, and annotations to right variable
left = pd.read_csv('42_foldchange.csv', index_col=0, header=0, sep=' ')
right = pd.read_csv('42_annotations.csv', index_col=0, header=0, sep=',')

In [4]:
left.head()

                                logFC
gene
TRINITY_DN144158_c3_g1_i4   11.317616
TRINITY_DN109055_c4_g1_i10  15.411094
TRINITY_DN102687_c0_g1_i1   12.638447
TRINITY_DN144158_c3_g1_i7   10.725622
TRINITY_DN126331_c0_g1_i3   12.692786

In [5]:
right.head()

,Description,E Value,Organism,Unnamed: 4,swissprot
gene,,,,,
TRINITY_DN95771_c1_g1_i4,RecName: Full=Carboxypeptidase B,2.230000e-61,Astacus astacus,NaN,P04069 (CBPB_ASTAS)
TRINITY_DN140065_c4_g1_i1,RecName: Full=Outer dense fiber protein 3; Alt...,4.550000e-71,Xenopus tropicalis,NaN,Q5EB30 (ODF3A_XENTR)
TRINITY_DN132573_c0_g1_i1,RecName: Full=Protein FAM183B,6.020000e-24,Mus musculus,NaN,Q5NC57 (F183B_MOUSE)
TRINITY_DN145498_c0_g3_i1,"RecName: Full=Dynein beta chain, ciliary",0.000000e+00,Tripneustes gratilla,NaN,P23098 (DYHC_TRIGR)
TRINITY_DN148315_c3_g1_i7,"RecName: Full=Dynein beta chain, ciliary",0.000000e+00,Heliocidaris crassispina,NaN,P39057 (DYHC_HELCR)

In [6]:
# Join left and right variables on index 'gene' into df variable
df = left.join(right, how='left')

In [7]:
df.head()

,logFC,Description,E Value,Organism,Unnamed: 4,swissprot
gene,,,,,,
TRINITY_DN144158_c3_g1_i4,11.317616,NaN,NaN,NaN,NaN,NaN
TRINITY_DN109055_c4_g1_i10,15.411094,RecName: Full=Inactive serine protease 54; Alt...,0.0955,Homo sapiens,NaN,Q6PEW0 (PRS54_HUMAN)
TRINITY_DN102687_c0_g1_i1,12.638447,NaN,NaN,NaN,NaN,NaN
TRINITY_DN144158_c3_g1_i7,10.725622,RecName: Full=Tenascin-R; Short=TN-R; AltName:...,5.3600,Gallus gallus,NaN,Q00546 (TENR_CHICK)
TRINITY_DN126331_c0_g1_i3,12.692786,NaN,NaN,NaN,NaN,NaN

In [8]:
# Export df variable csv
df.to_csv('43_annotation.csv')