## Match logFC values to annotation
Given a column with gene and logFC values, match it to another column with genes and annotations

In [3]:
import pandas as pd

In [4]:
# Load csv containing logFC and gene values to left variable, and annotations to right variable
left = pd.read_csv('43_foldchange.csv', index_col=0, header=0, sep=' ')
right = pd.read_csv('right.43.csv', index_col=0, header=0, sep=',')

In [5]:
left.head()

                                logFC
gene
TRINITY_DN144158_c3_g1_i4   11.317616
TRINITY_DN109055_c4_g1_i10  15.411094
TRINITY_DN102687_c0_g1_i1   12.638447
TRINITY_DN144158_c3_g1_i7   10.725622
TRINITY_DN126331_c0_g1_i3   12.692786

In [6]:
right.head()

,Description,E Value,Name
gene,,,
TRINITY_DN141695_c2_g1_i6,RecName: Full=Trypsin I-P1; Flags: Precursor,9.540000e-02,Q90627 (TRY1_CHICK)
TRINITY_DN129397_c5_g4_i1,RecName: Full=Myophilin,5.360000e-36,Q24799 (MYPH_ECHGR)
TRINITY_DN149308_c23_g1_i1,RecName: Full=Ryanodine receptor; AltName: Ful...,0.000000e+00,Q24498 (RYR_DROME)
TRINITY_DN149258_c19_g1_i2,RecName: Full=Twitchin; AltName: Full=Uncoordi...,0.000000e+00,Q23551 (UNC22_CAEEL)
TRINITY_DN142849_c4_g2_i1,RecName: Full=Cysteine and glycine-rich protei...,3.770000e-33,Q16527 (CSRP2_HUMAN)

In [7]:
# Join left and right variables on index 'gene' into df variable
df = left.join(right, how='left')

In [8]:
df.head()

,logFC,Description,E Value,Name
gene,,,,
TRINITY_DN144158_c3_g1_i4,11.317616,NaN,NaN,NaN
TRINITY_DN109055_c4_g1_i10,15.411094,RecName: Full=Inactive serine protease 54; Alt...,9.550000e-02,Q6PEW0 (PRS54_HUMAN)
TRINITY_DN102687_c0_g1_i1,12.638447,"RecName: Full=Beta-1,3-glucan-binding protein;...",3.940000e-78,Q8N0N3 (BGBP_PENMO)
TRINITY_DN144158_c3_g1_i7,10.725622,RecName: Full=Tenascin-R; Short=TN-R; AltName:...,5.360000e+00,Q00546 (TENR_CHICK)
TRINITY_DN126331_c0_g1_i3,12.692786,NaN,NaN,NaN

In [9]:
# Export df variable csv
df.to_csv('43_redo_annotation.csv')

In [10]:
%%bash
grep "TRINITY" -c 43_redo_annotation.csv

151

In [11]:
%%bash
# Unique rows in file
sort 43_redo_annotation.csv | uniq | wc -l

     152

In [12]:
%%bash
# save unique rows to csv
sort 43_redo_annotation.csv | uniq > 43_redo_final_annotation.csv